[user]
	name = NOZK
	email = 90326088+andremarques94@users.noreply.github.com
[core]
	editor = vim
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
